.widget-main {
  @include widget;

  &__wrapper {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    height: 25px;
    font-weight: 700;
  }
}

.widget-header {
  &__location {
    font-size: 16px;
  }

  &__settings {
    @include settings-button;
  }
}

.widget-body {
  &__weather {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
  }
}

.widget-weather {
  &__img {
    display: block;
    width: auto;
    min-width: 100px;
    min-height: 70px;
    height: auto;
  }

  &__temperature {
    font-size: 28px;
    font-weight: 600;
  }
}

.description-list {
  &__item {
    margin-top: 7px;
    font-size: 12px;
  }
}

.description-item {
  &__wind-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    mask-image: url("./assets/img/wind-arrow.svg");
    background-color: $black;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 200% 200%;
    transform: translateY(4px);
    margin-right: 5px;
  }

  &__barometer-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    mask-image: url("./assets/img/barometer.svg");
    background-color: $black;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 120% 120%;
    margin-left: 25px;
    transform: translateY(5px) scale(1.4);
  }
}

@media (min-width: 300px) {
  .widget-body {
    &__weather {
      justify-content: center;
    }
  }

  .widget-header {
    &__location {
      font-size: 20px;
    }
  }

  .widget-weather {
    &__temperature {
      font-size: 38px;
      margin-left: 20px;
    }

    &__img {
      min-width: 105px;
    }
  }

  .description-list {
    &__item {
      font-size: 14px;
    }
  }
}

@media (min-width: 350px) {
  .widget-weather {
    &__img {
      min-width: 150px;
    }
  }
}
