*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  cursor: default;
}

ul {
  list-style: none;
}

.widget {
  max-width: 350px;
  width: calc(100% - 30px);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 30px auto;

  &__link {
    display: inline-block;
    margin-bottom: 30px;
    text-decoration: none;

    &:visited {
      color: $black;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
