$white: #fff;
$black: #000;
$background: #c5ecfd;
$background_btn: #fc6;
$background_btn_hover: #fc0;
$widget_gear: rgba($black, 0.7);
$widget-border: rgba($black, 0.6);
$widget-color: rgba($black, 0.6);
$red: #f22e6f;
